body {
    font-family: 'Open Sans', sans-serif;
    color: $mb-black-1;
}

a {
  color: $mb-accent-1;
}

.bold {
    font-weight: bold;
}

.centered {
  text-align: center;
}

.page-header {
  margin-top: 0;

  h1 {
    margin-top: 0;
  }
}

.navbar {
  border: 0 none;
  background: $mb-red-1;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);

  a {
    color: white;
  }

  .navbar-brand {
    color: white;
    border: 1px solid $mb-red-1;
    font-size: 20px;
    padding: 10px 15px;

    i {
      font-size: 26px;
      margin-right: 7px;
      vertical-align: text-bottom;
    }
  }
}

.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: $mb-red-1;
}

.nav-pills {
  li {
    a {
      color: $mb-black-1;
      padding: 5px 0;
      text-align: center;

      &:hover {
        border-radius: 0;
        background-color: $mb-red-highlight;
      }
    }

    &.active {
      a, a:hover, a:focus {
        background-color: $mb-red-1;
        border-radius: 0;
      }
    }
  }

  &.nav-stacked.squares {
    background: $mb-grey-1;

    li {
      margin-top: 0;

      a {
        height: 86px;

        span.fa {
          position: relative;
          display: block;
          left: auto;
          top: auto;
          bottom: auto;
          width: auto;
          margin: 0;
          padding: 0;
          text-align: center;
          line-height: 50px;
          font-size: 32px;
          color: $mb-black-1;
          text-shadow: 0 1px 0 #222529;
        }
      }

      &.active {
        a {
          span.fa {
            color: $mb-grey-1;
            text-shadow: 0 1px 0 #222529;
          }
        }
      }
    }
  }
}

.modal-dialog {
  margin: 55px auto;
}

.mb-sidebar {
  max-width: 130px;
}

.mb-main {
//  width: 1040px;
}

.main-row {
  margin-top: 20px;
}

.italic {
  font-style: italic;
}

.page-header {
  h1 {
    display: inline-block;
  }

  a.btn.pull-right {
    top: 8px;
    right: 15px;
    position: relative;
  }
}

.input-throbber {
  float: right;
  margin-top: -27px;
  margin-right: 9px;
  font-size: 21px;
}

.btn-primary {
  background-color: $mb-red-1;
  border-color: $mb-black-1;

  &:hover, &:focus, &:active, &.active {
    background-color: $mb-accent-1;
    border-color: $mb-accent-2;
  }
}

.pagination>li>a,
.pagination>li>span {
  color: $mb-black-1;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
  color: $mb-red-1;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  background-color: $mb-red-1;
  border-color: $mb-red-1;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: $mb-red-1;
}
